.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    flex: 1; 
  }
  
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .inner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  
  
  #titleGet {
    font-size: 50px;
    color: #6E43C8;
    margin: 0; 
    padding-left: 80px;
  }
  
  
  .getDescrip {
    font-size: 24px;
    margin: 0; 
    padding-left: 80px;
  }
  
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #6E43C8;
    border-top: 1px solid #ddd;
  }
  
  .googleform {
    padding-top: 250px;
  }
  
  
  @media (max-width: 850px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  
    #titleGet {
      font-size: 36px;
      padding-left: 20px;
      padding-top:150px;
    }
  
    .getDescrip {
      font-size: 18px;
      padding-left: 20px;
    }
  
    .googleform {
      padding-top: 50px;
    }
  }